.box{
    display: flex;
    border: 1px solid red;
    height: 800px;
    width: 800px;
    background-color: aliceblue;
}
.box1{
    width: 200px;
    height: 200px;
    border: 1px dotted red;
    background-color: beige;

}
.box2{
    width: 200px;
    height: 200px;
    border: 1px dotted red;
    background-color: beige;
}
.box3{
    width: 200px;
    height: 200px;
    border: 1px dotted red;
    background-color: beige;
}
.box4{
    width: 200px;
    height: 200px;
    border: 1px dotted red;
    background-color: beige;
}